body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bgVideo {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

header {
    background: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header {
    background: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: black;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background: white;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}
.profile-picture {
    max-width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}